.mobile-nav {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--black);
  border-bottom: 1px solid var(--pink);
  z-index: 11;
}

.mobile-nav .burger {
  pointer-events: all;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 38px;
  color: var(--white);
  background-color: transparent;
  border: 0;
}

.mobile-nav .burger svg path {
  transition: fill var(--hover-transition);
}

.mobile-nav .nav {
  display: none;
  background-color: var(--dark-purple);
  height: 100vh;
  width: 100vw;
  transform: translate(100%, 0);
  transition: var(--mobile-menu-transition);
  z-index: 10;
}

.mobile-nav.active .nav {
  position: absolute;
  top: 90px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: absolute;
  padding-top: 20px;
  transform: translate(0, -20px);
}

.mobile-nav .nav :is(li, li a) {
  font-size: 34px;
  color: var(--white);
  list-style-type: none;
  text-decoration: none;
}

.mobile-nav .nav li a {
  transition: color var(--hover-transition);
}

@media (hover: hover) {
  .mobile-nav .burger svg:hover path {
    fill: var(--pink);
  }

  .mobile-nav .nav li a:hover {
    color: var(--hotpink);
  }
}

.light-theme .mobile-nav {
  background-color: var(--dark-purple);
}
