.btn {
  padding: 10px 20px;
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.25px;
  border-radius: 3px;
  transition: background-color var(--hover-transition);
}

.btn.purple {
  color: var(--white);
  background-color: var(--purple);
}

.btn.green {
  color: var(--black);
  background-color: var(--tea-green);
}

.btn.red{
  color: var(--white);
  background-color: var(--red);
}

@media (hover: hover) {
  .btn.purple:hover {
    background-color: var(--light-purple);
  }

  .btn.green:hover {
    background-color: var(--tea-green-dark);
  }

  .btn.red:hover {
    background-color: var(--red-light);
  }
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 20px;
    font-size: 26px;
  }
}



