.logo-wrap {
  padding: 0;
  text-align: center;
}

.logo-wrap .logo-link {
  text-decoration: none;
}

.logo-wrap .logo {
  color: var(--pink);
  line-height: 1;
}

.logo .logo-slash {
  font-size: 2.5rem;
  color: var(--blue);
} 

@media (min-width: 1024px){
  .logo-wrap {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: unset;
  }
    
  .logo-link {
    text-decoration: none;
  }
}
