.page {
    position: relative;
    overflow: hidden;
    background-color: var(--black);
}

.page .main-content {
    position: relative;
    background-color: var(--black);
}


/* Light Theme */
.light-theme .page .main-content {
    background-color: var(--beige)
}
