.page {
    position: relative;
    overflow: hidden;
    background-color: var(--black);
}

.page .main-content {
    position: relative;
    /* padding: 40px 0; */
    background-color: var(--black);
}
   
