:root {
    /* --font-main: "Inter", sans-serif; */
    --font-main: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    /* Colors */
    --black: #222222;
    --slate-black: #424342; 
    --white: #ffffff;
    --off-white: #fffff4;
    --grey: #f2f2f2;
    --blue: #2b50aaff;
    --dark-blue: #2b4b98;
    --pink: #ff9fe5ff;
    --hotpink: #F82EC2;
    --purple:	#6300A6;
    --light-purple: #8100D9;
    --dark-purple: #7300c2;
    --tea-green: #c6dec6ff;
    --tea-green-dark: rgb(126, 223, 126);
    --beige: #E4DFDA;
    --red: #f73451;
    --red-light: #d2213c;

  
    /* Hover Colo`rs */
    --hover-text-color-dark: var(--purple);
    --hover-text-color-light: var(--tea-green);
  
    /*Transition*/
    --hover-transition: 0.3s ease-in;
    --mobile-menu-transition: 0.23s ease;
}