.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 20px 30px;
}

.intro::after {
    content: '';
    pointer-events: none;
    display: block;
    background-image: url(/src/assets/introGraphic.svg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 550px;
    position: absolute;
    top: -240px;
    left: calc(100% - 200px);
}

.intro .intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.intro .intro-item {
    margin-bottom: 40px;
    color: var(--white);
    z-index: 1;
}

.intro .intro-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.25;
}

.intro .intro-list-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

  .intro .intro-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
    width: 100%;
    max-width: 640px;
}

.intro .intro-list li:last-child {
    margin: auto;
}

.intro .btn-cont {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 525px) {
    .intro .intro-list li:last-child {
        margin: unset;
    }
}

@media screen and (min-width: 40em) {

    .intro {
        padding: 100px 20px 60px;
    }

    .intro::after {
        top: -128px;
        right: -38%;
    }

    .intro :is(.intro-title, .intro-subtitle) {
        font-size: 24px;
    }

    .intro .intro-inner {
        flex-direction: row;
        align-items: flex-start;
    }

    .intro .intro-img {
        flex: 0 1 60%;
    }

    .intro .intro-title {
        font-size: 41px;
    }

    .intro .intro-text {
        font-size: 18px;
    }

    .intro .intro-list {
        max-width: unset;
        font-size: 28px;
    }

    .intro .intro-subtitle {
        margin-bottom: 20px;
        font-size: 30px;
        font-style: italic;
    }

    .intro .intro-text {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400;
    }

    .intro .btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro .btn-cont {
        display: flex;
        gap: 37px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Light Theme */

.light-theme .intro .intro-item {
    color: var(--black);
}